@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    margin-top: 50px;
    border: 1px solid;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.719);
}
main > div > h1{
    margin-top: 50px;
    margin-bottom: 20px;
}
form > label{
    font-size: 25px;
}
form > input{
    height: 20px;
    width: 250px;
}
form > button{
    height: 25px;
    font-weight: bold;
}
span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
ul{
    border: 1px solid;
    height: 30px;
    width: 330px;
    position: relative;
    background-color: white;
    margin-top: 10px;
    display: block;
}
li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#confirmar{
    background-color: green;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 10px;
}
#cancelar{
    background-color: red;
    font-size: 15px;
    cursor: pointer;
}