@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 20%;
    left: 30%;
}
main{
    border: 1px solid;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    border: 1px solid;
    width: 500px;
    text-align: center;
    height: 50px;
    background-color: darkgray;
}
form .campodeformulario input{
    height: 30px;
    width: 400px;
    margin-top: 20px;
}
form .campodeformulario button{
    height: 30px;
    width: 80px;
}
.campodeformulario > input{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
form .itensdelista h3{
    border: 1px solid;
    text-align: center;
    margin-top: 10px;
    background-color: darkgrey;
}
ul{
    border: 3px solid;
    height: 230px;
    margin-top: 10px;
    overflow: scroll;
}
li{
    list-style: none;
    border: 1px solid;
    height: 25px;
    font-size: 20px;
    background-color: lightblue;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}