@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
main{
    border: 1px solid;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.425);
}
main h1{
    position: relative;
    top: 30px;
    right: 120px;
    width: 500px;
    text-align: center;
    height: 50%;
}
form .campodeformulario > input{
    height: 30px;
    width: 300px;
    margin-top: 12%;
    margin-left: 6%;
    background-color: rgba(128, 128, 128, 0.349);
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
form{
    height: 85%;
}
ul{
    height: 240px;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}
li{
    border: 1px solid blue;
    list-style: none;
    height: 100%;
    width: 83%;
    margin-left: 5%;
    font-size: 20px;
    padding-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}